.loader {
  width: 15px;
  height: 15px;
  border-width: 1px;
  border-style: dashed solid solid dotted;
  border-color: #ff6b0a #ff6b0a transparent #ff6b0a;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
